body {
    margin: 0;
    position: relative;
}

.toolbar {
    height: 60px;
    background-color: rgb(0, 183, 255);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.20);
}

.title {
    text-align: center; 
    font-size: 40px;
    color: white;
}

#sidenav {
    background-color: white;
    width: 0;
    height: 100%;
    box-shadow:  0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px 0 rgba(0, 0, 0, 0.20);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    -o-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

#btn-sidenav {
    font-size: 35px;
    cursor: pointer;
    padding: 10px 10px;
    user-select: none;
}

nav li i {
    position: absolute;
    left: 10px;
    top: 6px;
}

ul {
    padding: 0;
    list-style: none;
    overflow: hidden
}

li {
    position: relative;
    padding: 10px 38px;
    border-bottom: 1px dashed rgba(0, 0, 0, 1);
    background-color: #ddd;
    height: 20px;
    -webkit-transition: .280s ease-in-out;
    -moz-transition: .280s ease-in-out;
    -o-transition: .280s ease-in-out;
    transition: .280s ease-in-out;
}

li:hover {
    background-color: rgb(182, 182, 182);
    cursor: pointer;
}